
<div>
  <p>
    Geben Sie die Daten des Studenten ein:
  </p>
  <br>
  <p>Student</p>
  <label for="studentNachname">Nachname: </label><br>
  <input id="studentNachnameId" [(ngModel)]="student.nachname"><br>
  <label for="studentVorname">Vorname: </label><br>
  <input id="studentVornameId" [(ngModel)]="student.vorname">
</div>
<br>
<div>
  <p> Two-Way-Databinding stellt in beide Richtungen die Verbindung zwischen den HTML-Elementen im HTML-Dokument und in Template-Dateien sowie den Daten und dem Code in der Anwendung her.</p>

  <p>Ihre oben gemachte Eingabe lautet:</p>
   {{student.vorname}} {{student.nachname}}
</div>
