.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

mat-sidenav, mat-sidenav-content {
  padding: 5px;

}

mat-toolbar {
  background-color: #3f525c;
  color: #fff;
  text-align: center;
}

a {

  border-radius: 2px;
  padding: 1rem;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  color: white;
  text-align: left;
  width: 100%;
  min-width: 70px;
  margin: .5rem auto;
  box-sizing: border-box;
}

a:hover {
  background-color: #000;
  color: #fff;
}

a:active {
  background-color: #000;
  color: #fff;
}




