<div class="container-fluid">
  <h3>HTTP-Beispiel</h3>
  <p>Hier können Sie beispielsweise einen neuen Dozenten erfassen. Aus zeitlichen Gründen konnte ich lediglich die POST-Methode implementieren. Die eingegebenen Daten werden in einem JSON-Server gespeichert. Zur Aktualisierung der Liste bitte F5 drücken!</p>
  <form #dozentForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="form-group">
      <input  type="number"
              class="form-control"
              placeholder="ID"
              [(ngModel)]="dozentModel.id"
              name="id"
              >

      <input  type="text"
              class="form-control"
              placeholder="Vorname"
              [(ngModel)]="dozentModel.vorname"
              name="vorname"
              >

      <input  type="text"
              class="form-control"
              placeholder="Nachname"
              [(ngModel)]="dozentModel.nachname"
              name="nachname"
              >

<button class="btn btn-primary" type="submit">Speichern</button>
    </div>
  </form>
</div>


